<div class="container">
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<h3>First</h3>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus magna vitae velit ullamcorper, vel pellentesque arcu malesuada. Curabitur eros magna, blandit finibus sagittis sed, tincidunt placerat nisl. Integer quis dolor dui. Curabitur tempus purus metus, non bibendum erat condimentum sed. Fusce eget tellus est.
		</div>
		<div class="col-xs-6 col-md-4">
			<h3>Second</h3>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus magna vitae velit ullamcorper, vel pellentesque arcu malesuada. Curabitur eros magna, blandit finibus sagittis sed, tincidunt placerat nisl. Integer quis dolor dui. Curabitur tempus purus metus, non bibendum erat condimentum sed. Fusce eget tellus est.
		</div>
		<div class="col-xs-12 col-md-4">
			<h3>Third</h3>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus magna vitae velit ullamcorper, vel pellentesque arcu malesuada. Curabitur eros magna, blandit finibus sagittis sed, tincidunt placerat nisl. Integer quis dolor dui. Curabitur tempus purus metus, non bibendum erat condimentum sed. Fusce eget tellus est.
		</div>
	</div>
</div>