<div class="container ">
	<div class="jumbotron text-center row">
		<h1>Music Store</h1>
	</div>
	<div class="row">
		<div class="col-md-4">
			<%= image_tag("Album.gif", :alt => "Album cover") %>
		</div>
		<div class="jumbotron col-md-8">
			<h3>Album Title</h3>
			<h3>Artist</h3>
			<div class="text-justify">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus magna vitae velit ullamcorper, vel pellentesque arcu malesuada. Curabitur eros magna, blandit finibus sagittis sed, tincidunt placerat nisl. Integer quis dolor dui. Curabitur tempus purus metus, non bibendum erat condimentum sed. Fusce eget tellus est.
			</div>
		</div>
	</div>
</div>