<div class="container-fluid">
	<div class="jumbotron text-center">
		<h1>Submit Album</h1>
	</div>
	<div class="panel-group" id="album-info-accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a data-toggle="collapse" data-parent="#album-info-accordion" href="#title-artist">Album Title and Artist</a>
				</h3>
			</div>	
			<div id="title-artist" class="panel-collapse collapse in">
				<div class="panel-body">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla nunc sem, ac consectetur est dignissim sit amet. Phasellus eget pulvinar nunc. Cras et arcu eu odio efficitur ultricies. Morbi convallis lorem id luctus vehicula. Vivamus sed ex mauris. Integer fermentum lectus in turpis interdum, vitae congue enim ullamcorper. Vestibulum vehicula urna nec orci pulvinar malesuada. Ut pretium lorem a est condimentum accumsan. Curabitur quis orci vel nisl mollis pharetra eu sed turpis. Duis consectetur ante sed sem luctus, vel blandit dolor eleifend. Vestibulum mollis ligula in nibh volutpat, eget volutpat dolor luctus. Mauris sed eleifend tortor. Proin at leo imperdiet, eleifend massa vel, fermentum leo.
					</p>
					<p>
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus eleifend odio et neque fermentum, in ornare odio consectetur. Cras sed nisl mauris. Cras scelerisque rhoncus lectus, at accumsan erat luctus a. Morbi cursus justo nec eros vulputate, sit amet dignissim leo posuere. Cras id urna quis neque placerat placerat. Donec eget sem hendrerit, auctor metus in, hendrerit lacus. Integer eu imperdiet leo. Vivamus diam justo, vehicula non pharetra nec, semper sed purus. Suspendisse ac volutpat nulla. Etiam tincidunt faucibus dui, at tincidunt augue placerat sed. Nunc dictum libero convallis, feugiat nunc ut, aliquam magna. Nulla laoreet sit amet turpis vitae accumsan. Nunc eu quam efficitur, tristique erat sit amet, vestibulum metus.
					</p>
					<p>
						Proin condimentum iaculis fermentum. Fusce dictum dui sed tortor eleifend, in cursus quam volutpat. Nullam tincidunt, nulla sit amet ornare aliquam, elit tortor interdum turpis, sit amet rutrum elit eros id nulla. Donec interdum, lacus eget facilisis sodales, mi felis laoreet enim, aliquam vulputate velit purus vel nunc. Nullam rutrum orci at venenatis molestie. Vivamus pharetra iaculis velit. Mauris nec molestie diam, sed blandit enim. Sed sit amet ligula vitae turpis aliquam sodales. Ut at tincidunt ipsum, et bibendum magna. Etiam tempor lacus enim, at iaculis neque aliquet sed. In malesuada, lorem dapibus suscipit mollis, nulla risus iaculis lorem, facilisis aliquam tortor sem eget ipsum. Phasellus eget nisi vitae ligula luctus maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a data-toggle="collapse" data-parent="#album-info-accordion" href="#track-info">Track Information</a>
				</h3>
			</div>	
			<div id="track-info" class="panel-collapse collapse">
				<div class="panel-body">
					Quisque dapibus urna neque, ac semper leo bibendum in. Proin lobortis felis nec urna finibus mollis. Sed efficitur lacus urna, ut fermentum sapien egestas nec. Nunc maximus semper suscipit. Donec euismod efficitur enim, eget pretium diam ultricies nec. Nam varius nibh mauris, vel molestie leo eleifend et. Proin consectetur sagittis orci imperdiet bibendum. Morbi viverra, purus eget feugiat efficitur, nisl ex suscipit justo, sit amet tempus nisl mi et arcu. Cras ex lacus, dictum sit amet nunc consectetur, tempus fringilla leo.
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a data-toggle="collapse" data-parent="#album-info-accordion" href="#xpert-review">Expert Review</a>
				</h3>
			</div>	
			<div id="xpert-review" class="panel-collapse collapse">
				<div class="panel-body">
					Nunc a posuere mauris. Maecenas elit mi, cursus nec scelerisque et, pulvinar eget nulla. Pellentesque sagittis tellus eu tortor tristique, nec rhoncus mauris molestie. Ut dapibus nisl sollicitudin, pellentesque risus tristique, congue ex. Phasellus eleifend auctor lorem, ut consequat mauris aliquam sit amet. Vivamus quis ultricies tellus. Nulla maximus libero tempus neque tempor cursus. Vestibulum eu euismod tortor, nec sodales metus. Donec varius tristique feugiat. Suspendisse vehicula erat sit amet est pharetra, et facilisis dui ullamcorper.
				</div>
			</div>
		</div>
	</div>
</div>